@use 'base/mixins' as m;
@use 'base/variables' as v;

/* ======= BUTTONS ======= */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: v.$white;
    padding: 1rem;
    border-radius: .5rem;   
    font-weight: v.$font-medium;

    &:hover{
        background-color: var(--first-color-alt);
    }

    &__icon {
        font-size: 1.25rem;
        margin-left: v.$mb-0-5;
        transition: 0.3s;
    }

    &--white {
        background-color: #FFF;
        color: var(--first-color);

        &:hover {
            background-color: #FFF;
        }
    }

    &--flex {
        display: inline-flex;
        align-items: center;
        border: none;

        &-red {
            background-color: rgb(250, 107, 107);
            &:hover {
                background-color: rgb(255, 120, 120);
            }
        }
    }

    &--small {
        padding: .75rem 1rem;
    }

    &--link {
        padding: 0;
        background-color: transparent;
        color: var(--first-color);
        
        &:hover {
            background-color: transparent;
            color: var(--first-color-alt);
        }
    }
}