@use 'variables' as v;

*, 
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 v.$header-height 0;
    font-family: v.$body-font;
    font-size: v.$normal-font-size;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.4s; /* Para el dark-theme */
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: v.$font-semi-bold;
    
    //reset again
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--first-color);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;

    &__title {
        font-size: v.$h1-font-size;
    }

    &__subtitle {
        display: block;
        font-size: v.$small-font-size;
        margin-bottom: v.$mb-3;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }
}

.overflow-hidden {
    overflow: hidden;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: v.$mb-1-5;
    margin-right: v.$mb-1-5;
}

.grid {
    display: grid;
    gap: 1.5rem;
}