@use 'variables' as v;

@mixin phone {
    @media screen and (max-width: v.$phone){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: v.$desktop){
        @content;
    }
}

@mixin grid($columnas:1 ,$gap: 2.4rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}
