@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: v.$z-fixed;
    background-color: v.$body-color;
}

.nav {
    max-width: 968px;
    height:  v.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle {
        color: v.$title-color;
        font-weight: v.$font-medium;
    }

    &__logo:hover {
        color: v.$first-color;
    }

    &__toggle {
        font-size: 1.1rem; 
        cursor: pointer;

        &:hover {
            color: v.$first-color;
        }
    }

    @include m.phone {
        &__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: v.$body-color;
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0,0,0,.15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .3s;
        }
    }
    

    &__list {
        @include m.grid(3, 2rem);
        padding: 0; //? De algun lado toma padding left ¿donde? 
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: v.$small-font-size;
        color: v.$title-color;
        font-weight: v.$font-medium;
        
        &:hover {
            color: v.$first-color;
        }
    }

    &__icon {
        font-size: 1.2rem;
    }

    &__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: v.$first-color;

        &:hover {
            color: v.$first-color-alt;
        }
    }
}

.show-menu {
    bottom: 0;
}
