@use 'base/mixins' as m;
@use 'base/variables' as v;

.skills {
    &__container {
        row-gap: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: v.$mb-2-5;
        cursor: pointer;
    }

    &__icon,
    &__arrow {
        font-size: 2rem;
        color: var(--first-color);
    }

    &__icon {
        margin-right: v.$mb-0-75;
    }

    &__title {
        font-size: v.$h3-font-size;
    }

    &__subtitle {
        font-size: v.$small-font-size;
        color: var(--text-color-light);
    }

    &__arrow {
        margin-left: auto;
        transition: .4s;
    }

    &__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: v.$mb-0-5;
    }

    &__bar,
    &__percentage {
        height: 5px;
        border-radius: .25rem;
    }

    &__bar {
        background-color: var(--first-color-lighter);
    }

    &__percentage {
        display: block;
        background-color: var(--first-color);
    }

    &__close &__list{
        height: 0;
        overflow: hidden;
    }

    &__open &__list{
        height: max-content;
        margin-bottom: v.$mb-2-5;
    }

    &__open &__arrow {
        transform: rotate(-180deg);
    }

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
    }

    &__card {
        border-radius: .5rem;
        height: 2rem;
    }

    &__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        padding-left: 2.7rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }

    &__data {
        background-color: var(--input-color);
        max-width: 70PX;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.3);
        transition: all 300ms;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__img {
        width: 40px;
    }

    &__name {
        font-size: v.$normal-font-size;
        font-weight: v.$font-medium;
    }

}